In [ ]:
import pandas as pd

In [ ]:
#importing the dataset
df = pd.read_csv('m.csv')

In [ ]:
df.columns

Index(['Unnamed: 0', '#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack',
       'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary',
       'Avg_speed', 'count'],
      dtype='object')

In [ ]:
df.head()

,Unnamed: 0,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Avg_speed,count
0,0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,66.444444,1
1,1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,81.333333,1
2,2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,101.250000,1
3,3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,123.500000,1
4,4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,60.769231,1

In [ ]:
df.tail()

,Unnamed: 0,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Avg_speed,count
795,795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,103.000000,1
796,796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,161.000000,1
797,797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,151.857143,1
798,798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,171.625000,1
799,799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,131.285714,1

In [ ]:
df['HP']

0      45
1      60
2      80
3      80
4      39
       ..
795    50
796    50
797    80
798    80
799    80
Name: HP, Length: 800, dtype: int64

In [ ]:
df.columns

Index(['Unnamed: 0', '#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack',
       'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary',
       'Avg_speed', 'count'],
      dtype='object')

In [ ]:
df.loc[:,["Type 1","Type 2"]]

      Type 1  Type 2
0      Grass  Poison
1      Grass  Poison
2      Grass  Poison
3      Grass  Poison
4       Fire     NaN
..       ...     ...
795     Rock   Fairy
796     Rock   Fairy
797  Psychic   Ghost
798  Psychic    Dark
799     Fire   Water

[800 rows x 2 columns]

In [ ]:
df.iloc[2,1]

3

In [ ]:
#type1 ascending and HP decending
df.sort_values(['Type 1','HP'],ascending=[1,0])

,Unnamed: 0,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Avg_speed,count
520,520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False,116.589474,1
698,698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False,136.050000,1
231,231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False,41.117647,1
232,232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False,41.400000,1
678,678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False,100.413793,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False,25.500000,1
125,125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False,70.416667,1
129,129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False,70.647059,1
139,139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False,15.250000,1
381,381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False,10.687500,1

In [ ]:
#name columns in ascending
df.sort_values('Name',ascending=1)

,Unnamed: 0,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Avg_speed,count
510,510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False,93.416667,1
511,511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False,135.500000,1
68,68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False,105.611111,1
392,392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False,75.800000,1
393,393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False,115.521739,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False,120.571429,1
631,631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False,80.615385,1
46,46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False,30.727273,1
695,695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False,66.206897,1
794,794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,82.000000,1

In [ ]:
df['total']=df['HP']+df['Attack']+df['Defense']+df['Sp. Atk']+df['Sp. Def']+df['Speed']
df['total']

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Name: total, Length: 800, dtype: int64

In [ ]:
#droping columns
df=df.drop(columns=['total'])

In [ ]:
df.columns

Index(['Unnamed: 0', '#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack',
       'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary',
       'Avg_speed', 'count'],
      dtype='object')

In [ ]:
data = df.sort_values('Name',ascending=True)

In [ ]:
#converting csv into excel
data.to_excel('filter.xlsx')

In [ ]:
#'and' will not work we use '&'
#data filtering
new_df = df.loc[(df['Type 1']=='Grass') & (df['Type 2']=='Poison') & (df['HP']>70)]
print(new_df)

     Unnamed: 0    #                   Name Type 1  Type 2   HP  Attack  \
2             2    3               Venusaur  Grass  Poison   80      82
3             3    3  VenusaurMega Venusaur  Grass  Poison   80     100
50           50   45              Vileplume  Grass  Poison   75      80
77           77   71             Victreebel  Grass  Poison   80     105
652         652  591              Amoonguss  Grass  Poison  114      85

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary   Avg_speed  \
2         83      100      100     80           1      False  101.250000
3        123      122      120     80           1      False  123.500000
50        85      110       90     50           1      False  111.800000
77        65      100       70     70           1      False  101.000000
652       70       85       80     30           5      False   87.666667

     count
2        1
3        1
50       1
77       1
652      1

In [ ]:
df.groupby(['Type 1','Type 2']).count()

                 Unnamed: 0   #  Name  HP  Attack  Defense  Sp. Atk  Sp. Def  \
Type 1 Type 2
Bug    Electric           2   2     2   2       2        2        2        2
       Fighting           2   2     2   2       2        2        2        2
       Fire               2   2     2   2       2        2        2        2
       Flying            14  14    14  14      14       14       14       14
       Ghost              1   1     1   1       1        1        1        1
...                     ...  ..   ...  ..     ...      ...      ...      ...
Water  Ice                3   3     3   3       3        3        3        3
       Poison             3   3     3   3       3        3        3        3
       Psychic            5   5     5   5       5        5        5        5
       Rock               4   4     4   4       4        4        4        4
       Steel              1   1     1   1       1        1        1        1

                 Speed  Generation  Legendary  Avg_speed  count
Type 1 Type 2
Bug    Electric      2           2          2          2      2
       Fighting      2           2          2          2      2
       Fire          2           2          2          2      2
       Flying       14          14         14         14     14
       Ghost         1           1          1          1      1
...                ...         ...        ...        ...    ...
Water  Ice           3           3          3          3      3
       Poison        3           3          3          3      3
       Psychic       5           5          5          5      5
       Rock          4           4          4          4      4
       Steel         1           1          1          1      1

[136 rows x 13 columns]

In [ ]:
df.describe()

,Unnamed: 0,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Avg_speed,count
count,800.0000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000,800.000000,800.0
mean,399.5000,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375,74.139987,1.0
std,231.0844,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129,32.631953,0.0
min,0.0000,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000,10.687500,1.0
25%,199.7500,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000,50.527778,1.0
50%,399.5000,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000,66.444444,1.0
75%,599.2500,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000,95.858300,1.0
max,799.0000,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000,194.857143,1.0

In [ ]:
#Sample allows us to choose random values from our data frame
df.sample(4)

,Unnamed: 0,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Avg_speed,count
656,656,595,Joltik,Bug,Electric,50,47,50,57,50,65,5,False,57.769231,1
100,100,93,Haunter,Ghost,Poison,45,50,45,115,55,95,1,False,115.578947,1
799,799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,131.285714,1
399,399,364,Sealeo,Ice,Water,90,60,70,75,70,45,3,False,76.555556,1

In [ ]:
#nunique() is used to find the number of unique values in our series or data frame
df['#'].nunique()

721

In [ ]:
#nsmallest() is used to obtiain n number of rows from our dataset which is lowest
df.nsmallest(4,"Speed")

,Unnamed: 0,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Avg_speed,count
230,230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False,56.0,1
495,495,446,Munchlax,Normal,NaN,135,85,40,40,85,5,4,False,57.0,1
359,359,328,Trapinch,Ground,NaN,45,100,45,45,45,10,3,False,49.5,1
486,486,438,Bonsly,Rock,NaN,50,80,95,10,45,10,4,False,14.5,1

In [ ]:
#nlargest() is used to obtiain n number of rows from our dataset which is highest
df.nlargest(4,"Speed")

,Unnamed: 0,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Avg_speed,count
431,431,386,DeoxysSpeed Forme,Psychic,NaN,50,95,90,95,90,180,3,True,95.500000,1
315,315,291,Ninjask,Bug,Flying,61,90,45,50,50,160,3,False,50.312500,1
71,71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False,175.633333,1
154,154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False,70.633333,1

In [ ]:
#get_group() used to select a specific group.
df.groupby('Type 1').get_group('Electric')

,Unnamed: 0,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Avg_speed,count
30,30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,50.555556,1
31,31,26,Raichu,Electric,NaN,60,90,55,90,80,110,1,False,90.727273,1
88,88,81,Magnemite,Electric,Steel,25,35,70,95,55,45,1,False,96.222222,1
89,89,82,Magneton,Electric,Steel,50,60,95,120,70,70,1,False,121.000000,1
108,108,100,Voltorb,Electric,NaN,40,30,50,55,55,100,1,False,55.550000,1
109,109,101,Electrode,Electric,NaN,60,50,70,80,80,140,1,False,80.571429,1
134,134,125,Electabuzz,Electric,NaN,65,83,57,95,85,105,1,False,95.809524,1
146,146,135,Jolteon,Electric,NaN,65,65,60,110,95,130,1,False,110.730769,1
157,157,145,Zapdos,Electric,Flying,90,90,85,125,90,100,1,True,125.900000,1
186,186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,35.583333,1
193,193,179,Mareep,Electric,NaN,55,40,40,65,45,35,2,False,66.285714,1
194,194,180,Flaaffy,Electric,NaN,70,55,55,80,60,45,2,False,81.333333,1
195,195,181,Ampharos,Electric,NaN,90,75,85,115,90,55,2,False,116.636364,1
196,196,181,AmpharosMega Ampharos,Electric,Dragon,90,95,105,165,110,45,2,False,167.444444,1
258,258,239,Elekid,Electric,NaN,45,63,37,65,55,95,2,False,65.578947,1
262,262,243,Raikou,Electric,NaN,90,85,75,115,100,115,2,True,115.869565,1
337,337,309,Electrike,Electric,NaN,40,45,40,65,40,65,3,False,65.615385,1
338,338,310,Manectric,Electric,NaN,70,75,60,105,60,105,3,False,105.571429,1
339,339,310,ManectricMega Manectric,Electric,NaN,70,75,80,135,80,135,3,False,135.592593,1
340,340,311,Plusle,Electric,NaN,60,50,40,85,75,95,3,False,85.789474,1
341,341,312,Minun,Electric,NaN,60,40,50,75,85,95,3,False,75.894737,1
448,448,403,Shinx,Electric,NaN,45,65,34,40,34,45,4,False,40.755556,1
449,449,404,Luxio,Electric,NaN,60,85,49,60,49,60,4,False,60.816667,1
450,450,405,Luxray,Electric,NaN,80,120,79,95,79,70,4,False,96.128571,1
464,464,417,Pachirisu,Electric,NaN,60,45,70,45,90,95,4,False,45.947368,1
513,513,462,Magnezone,Electric,Steel,70,70,115,130,90,60,4,False,131.500000,1
517,517,466,Electivire,Electric,NaN,75,123,67,95,85,95,4,False,95.894737,1
531,531,479,Rotom,Electric,Ghost,50,50,77,95,77,91,4,False,95.846154,1
532,532,479,RotomHeat Rotom,Electric,Fire,50,65,107,105,107,86,4,False,106.244186,1
533,533,479,RotomWash Rotom,Electric,Water,50,65,107,105,107,86,4,False,106.244186,1
534,534,479,RotomFrost Rotom,Electric,Ice,50,65,107,105,107,86,4,False,106.244186,1
535,535,479,RotomFan Rotom,Electric,Flying,50,65,107,105,107,86,4,False,106.244186,1
536,536,479,RotomMow Rotom,Electric,Grass,50,65,107,105,107,86,4,False,106.244186,1
581,581,522,Blitzle,Electric,NaN,45,60,32,50,32,76,5,False,50.421053,1
582,582,523,Zebstrika,Electric,NaN,75,100,63,80,63,116,5,False,80.543103,1
648,648,587,Emolga,Electric,Flying,55,75,60,75,60,103,5,False,75.582524,1
663,663,602,Tynamo,Electric,NaN,35,55,40,45,40,60,5,False,45.666667,1
664,664,603,Eelektrik,Electric,NaN,65,85,70,75,70,40,5,False,76.750000,1
665,665,604,Eelektross,Electric,NaN,85,115,80,105,80,50,5,False,106.600000,1
704,704,642,ThundurusIncarnate Forme,Electric,Flying,79,115,70,125,80,111,5,True,125.720721,1
705,705,642,ThundurusTherian Forme,Electric,Flying,79,105,70,145,80,101,5,True,145.792079,1
764,764,694,Helioptile,Electric,Normal,44,38,33,61,43,70,6,False,61.614286,1
765,765,695,Heliolisk,Electric,Normal,62,55,52,109,94,109,6,False,109.862385,1
772,772,702,Dedenne,Electric,Fairy,67,58,57,81,67,101,6,False,81.663366,1

In [ ]:
# using isnull() and sum() functions to check if there is any missing values or not.
df_isnull= df["Type 2"].isnull().sum()

In [ ]:
print(df_isnull)

386

In [ ]:
# here we use fillna() will fill up the missing values using the mode
df_fill = df["Type 2"].fillna(df['Type 2'].mode,inplace=True)
print(df_fill)

None

In [ ]:
#query() used to filter our data frame as per our conditions or requirements
df.query('45 < Speed < 60').head()

,Unnamed: 0,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Avg_speed,count
10,10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,66.379310,1
16,16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False,20.400000,1
20,20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,35.625000,1
28,28,23,Ekans,Poison,NaN,35,60,44,40,54,55,1,False,40.981818,1
35,35,30,Nidorina,Poison,NaN,70,62,67,55,55,56,1,False,55.982143,1

In [ ]:
n_df = df.set_index('#').head()
print(n_df)

   Unnamed: 0                   Name Type 1  Type 2  HP  Attack  Defense  \
#
1           0              Bulbasaur  Grass  Poison  45      49       49
2           1                Ivysaur  Grass  Poison  60      62       63
3           2               Venusaur  Grass  Poison  80      82       83
3           3  VenusaurMega Venusaur  Grass  Poison  80     100      123
4           4             Charmander   Fire     NaN  39      52       43

   Sp. Atk  Sp. Def  Speed  Generation  Legendary   Avg_speed  count
#
1       65       65     45           1      False   66.444444      1
2       80       80     60           1      False   81.333333      1
3      100      100     80           1      False  101.250000      1
3      122      120     80           1      False  123.500000      1
4       60       50     65           1      False   60.769231      1

In [ ]:
#duplicated() used to find all the duplicate rows in our dataset.
print(df.duplicated().sum())

0

In [ ]:
#get_dummies() method is used to convert the categorical features of the data into dummy variables or indicator variables.
nn_df = pd.get_dummies(df.Name).iloc[:,0:]
print(nn_df)

     Abomasnow  AbomasnowMega Abomasnow  Abra  Absol  AbsolMega Absol  \
0            0                        0     0      0                0
1            0                        0     0      0                0
2            0                        0     0      0                0
3            0                        0     0      0                0
4            0                        0     0      0                0
..         ...                      ...   ...    ...              ...
795          0                        0     0      0                0
796          0                        0     0      0                0
797          0                        0     0      0                0
798          0                        0     0      0                0
799          0                        0     0      0                0

     Accelgor  AegislashBlade Forme  AegislashShield Forme  Aerodactyl  \
0           0                     0                      0           0
1           0                     0                      0           0
2           0                     0                      0           0
3           0                     0                      0           0
4           0                     0                      0           0
..        ...                   ...                    ...         ...
795         0                     0                      0           0
796         0                     0                      0           0
797         0                     0                      0           0
798         0                     0                      0           0
799         0                     0                      0           0

     AerodactylMega Aerodactyl  ...  Zangoose  Zapdos  Zebstrika  Zekrom  \
0                            0  ...         0       0          0       0
1                            0  ...         0       0          0       0
2                            0  ...         0       0          0       0
3                            0  ...         0       0          0       0
4                            0  ...         0       0          0       0
..                         ...  ...       ...     ...        ...     ...
795                          0  ...         0       0          0       0
796                          0  ...         0       0          0       0
797                          0  ...         0       0          0       0
798                          0  ...         0       0          0       0
799                          0  ...         0       0          0       0

     Zigzagoon  Zoroark  Zorua  Zubat  Zweilous  Zygarde50% Forme
0            0        0      0      0         0                 0
1            0        0      0      0         0                 0
2            0        0      0      0         0                 0
3            0        0      0      0         0                 0
4            0        0      0      0         0                 0
..         ...      ...    ...    ...       ...               ...
795          0        0      0      0         0                 0
796          0        0      0      0         0                 0
797          0        0      0      0         0                 0
798          0        0      0      0         0                 0
799          0        0      0      0         0                 0

[800 rows x 800 columns]

In [ ]:
#select_dtypes() and include np.number to select numerical columns whereas include objects for categorical columns
import numpy as np
m_df = df.select_dtypes(include=[np.number])
m_df.head()

,Unnamed: 0,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Avg_speed,count
0,0,1,45,49,49,65,65,45,1,66.444444,1
1,1,2,60,62,63,80,80,60,1,81.333333,1
2,2,3,80,82,83,100,100,80,1,101.250000,1
3,3,3,80,100,123,122,120,80,1,123.500000,1
4,4,4,39,52,43,60,50,65,1,60.769231,1

In [ ]:
mm_df = df.select_dtypes(include='object')
mm_df.head()

                    Name Type 1  Type 2
0              Bulbasaur  Grass  Poison
1                Ivysaur  Grass  Poison
2               Venusaur  Grass  Poison
3  VenusaurMega Venusaur  Grass  Poison
4             Charmander   Fire     NaN

In [1]:
#concatenation of pandas object into a DataFrame output along a particular axis with optional set logic such as union and intersection using concat() method
concat_df = pd.concat([m_df,mm_df],axis=1)
print(concat_df)

NameError: ignored

In [ ]:
#qcut() method ensures a more even distribution of the values inside each bin, so we can say it’s a better sampling.
#cut() method is used to specifically define the bin edges and hence the distribution of values is not even across all the bins
df["Speed_cut"] = pd.cut(df["Speed"],bins=3,labels=['1-30','31-50','50-70'])

In [ ]:
df["Speed_cut_q"] = pd.qcut(df["Speed"],q=5)

In [ ]:
df["Speed_cut_q"].value_counts()

(59.6, 75.0]     174
(4.999, 41.0]    162
(41.0, 59.6]     158
(75.0, 95.0]     157
(95.0, 180.0]    149
Name: Speed_cut_q, dtype: int64

In [ ]:
df["Speed_cut"].value_counts()

31-50    404
1-30     369
50-70     27
Name: Speed_cut, dtype: int64

In [ ]:
df.columns

In [ ]:
#finding mean and std dev of attack,'Defense', 'Sp. Atk', 'Sp. Def', 'Speed' sperately

In [ ]:
m1 = df['Attack'].mean()
sd1 = df['Attack'].std()
print(sd1)
print(m1)

32.45736586949843
79.00125

In [ ]:
m2 = df['Defense'].mean()
sd2 = df['Defense'].std()
print(sd2)
print(m2)

In [ ]:
m3 = df['Sp. Atk'].mean()
sd3 = df['Sp. Atk'].std()
print(sd3)
print(m3)

In [ ]:
m4 = df['Sp. Def'].mean()
sd4 = df['Sp. Def'].std()
print(sd4)
print(m4)

In [ ]:
m5 = df['Speed'].mean()
sd5 = df['Speed'].std()
print(sd5)
print(m5)

In [ ]:
df['Mean Of N'] = m1 + m2 + m3 + m4 + m5

In [ ]:
df.columns

In [ ]:
df['Mean Of N']

In [ ]:
mn = df['Mean Of N'].mean()
print(mn)

In [ ]:
df['Std Of N'] = sd1 + sd2 + sd3 + sd4 + sd5

In [ ]:
df.columns

In [ ]:
df['Std Of N']

In [ ]:
sdn = df['Std Of N'].std()
print(sdn)